:root {
    --font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    --font-size: 16px;

    --color-primary: #1e96c8;
    --color-primary-hover: #157096;
    --color-info: #f17238;
    --color-success: var(--color-primary);
    --color-danger: #DE1719;
    --color-text: #394A58;

    --topbar-height: 80px;
    --topbar-background-color: #002b43;

    --content-height: calc(100% - var(--topbar-height));
    --content-background-color: #f5f5f5;

    --sidebar-height: 100%;
    --sidebar-width: 15%;
    --sidebar-background-color: #ffffff;
    --sidebar-color: #000;
    --sidebar-color-active: var(--color-info);
    --sidebar-padding: 20px;

    --main-height: 100%;

    --main-header-background-color: #ffffff;

    --screen-name-background-color: #fafafa;

    --input-border-radius: 4px;
    --input-border-color: #dfe3e9;
    --input-padding: 6px 18px;
    --input-color: var(--color-text);
    --input-background-color: #ffffff;
    --input-font-size: 16px;
    --input-width: 100%;
    --input-height: 42px;
    --input-height-small: 34px;

    --button-background-color: #ffffff;
    --button-background-color-hover: #F6F7F8;
    --button-color: #000000;
    --button-background-color-primary: var(--color-primary);
    --button-background-color-primary-hover: var(--color-primary-hover);
    --button-color-primary: #ffffff;
    --button-font-size: 14px;
    --button-font-weight: 700;
    --button-text-transform: uppercase;
    --button-border-radius: 4px;
    --button-line-height: 16px;
    --button-letter-spacing: 2px;
    --button-vertical-align: top;
    --button-padding: 12px 27px;
    --button-border-color: #dfe3e9;
    --button-border: 1px solid var(--button-border-color);
    --button-border-primary-color: var(--button-background-color-primary);
    --button-border-primary: 1px solid var(--button-background-color-primary);
    --button-border-primary-hover: 1px solid var(--button-background-color-primary-hover);

    --button-small-font-size: 12px;
    --button-small-padding: 8px 20px;

    --button-squared-padding: 8px 16px;

    --button-rounded-height: 16px;
    --button-rounded-width: 16px;
    --button-rounded-padding: 16px;

    --topbar-height: 80px;
    --topbar-background-color: #002b43;

    --modal-border-color: #ebedef;
    --modal-header-background-color: #ffffff;
    --modal-header-color: var(--color-text);
    --modal-header-font-size: 16px;

    --footer-height: 80px;
    --footer-background-color: #fafafa;
    --footer-font-size: 14px;
    --footer-color: #33333;
    --footer-border-top-color: #e6e9ec;

    --flash-background-color: #f1f1f1;
    --flash-background-color-success: var(--color-success);
    --flash-background-color-info: var(--color-info);
    --flash-background-color-danger: var(--color-danger);
    --flash-color: #fff;
    --flash-padding: 0 30px;
    --flash-height: var(--topbar-height);
    --flash-message-font-size: 16px;
    --flash-message-font-weight: 400;
    --flash-message-color: var(--flash-color);
    --flash-close-button-font-size: 20px;

    --pagination-background-color:  #f5f5f5;
    --pagination-border-color: #f5f5f5;
    --pagination-padding: 12px;
    --pagination-width: 100%;
    --pagination-height: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

#root {
    height: 100%;
}

.Dropdown-menu,
.Dropdown-control {
    border-color: #e6e8eb;
}

.Dropdown-control {
    height: 40px;
    cursor: pointer;
    padding: 10px 10px;
}

.Dropdown-menu,
.Dropdown-control {
    border-radius: 4px;
    font-size: 14.0px;
    font-weight: 400;
}

.Dropdown-placeholder {
    color: #394A58;
    font-size: var(--input-font-size);
}

.Dropdown-menu,
.Dropdown-menu * {
    box-sizing: border-box;
}

.Dropdown-option.is-selected {
    background-color: #f1f4f8;
    color: #1d96c8;
}
